@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,700;1,300;1,400&display=swap');

body {
  background: linear-gradient(229.68deg, #6879BB 7.06%, #9300BB 95.23%);
  background-attachment: fixed;
  margin: 0;
}
