.textInput {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 19px;
    color: #6879BB;

    box-sizing: border-box;
    padding: 6px 12px;
    height: 36px;

    margin-bottom: 12px;

    background: #FFFFFF;
    border: 1px solid #D6DCE9;
    border-radius: 4px;
    outline: none;
}

.textInput:focus {
    border: 1px solid #415FD5;
    padding: 6px 16.4px;
}

.textInput:disabled {
    color: rgba(51, 51, 51, 0.5);
    background: #F5F5F5;
}

.textInput::placeholder {
    color: #CCCCCC;
}

.textInput__error {
    border: 1px solid #EE4141;
}
